<div class="switch-container">
   <!-- Freccia sinistra -->
   <span class="arrow left" (click)="switchComponent('prev')" *ngIf="currentComponent === 'component-two'">&#10094;</span>
   <!-- Area del componente dinamico -->
   <div class="component-wrapper" >
   <ng-container *ngIf="currentComponent === 'component-one'">
    <app-card-game (fireworks)="onChangeFireworks($event)"></app-card-game>
   </ng-container>
    <ng-container *ngIf="currentComponent === 'component-two'">
   <app-sette-mezzo></app-sette-mezzo>
    </ng-container>
   </div>
   <!-- Freccia destra -->
   <span class="arrow right" (click)="switchComponent('next')" *ngIf="currentComponent === 'component-one'">&#10095;</span>
  <canvas #fireworksCanvas class="fireworks"></canvas>
</div>

