<div class="switch-container">
  <!-- Freccia sinistra -->
  <span class="arrow left" (click)="switchComponent('prev')">&#10094;</span>

  <!-- Area del componente dinamico -->
  <div class="component-wrapper" >
    <ng-container *ngIf="currentComponent === 'component-one'">
      <app-guess-number-game></app-guess-number-game>
    </ng-container>

    <ng-container *ngIf="currentComponent === 'component-two'">
      <app-card-game></app-card-game>
    </ng-container>
  </div>

  <!-- Freccia destra -->
  <span class="arrow right" (click)="switchComponent('next')">&#10095;</span>
</div>
