/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General styles */
html, body {
  height: 100%;
  background-color: #333; /* Colore di sfondo generale */
  font-size: 1.5rem;
}

.grid {
  display: grid;
  grid-template-rows: 6rem auto; /* Altezza della navbar e del main */
  min-height: 100vh; /* Altezza minima per coprire l'intero viewport */
}

nav {
  grid-row: 1 / 2; /* Posiziona la navbar nella prima riga */
  background-color: #000000; /* Colore di sfondo della navbar */
  display: flex;
  justify-content: center;
  align-items: center;
}

main.content {
  grid-row: 2 / 3; /* Posiziona il main nella seconda riga */
  position: relative; /* Posizionamento relativo per contenuti sovrapposti */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Nasconde il contenuto oltre i limiti del main */
}

.main-background {
  background-image: url("../assets/image/earth-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Media query per schermi di dimensioni ridotte */
@media (max-width: 768px) {
  .grid {
    grid-template-rows: 6rem auto; /* Modifica altezza righe per schermi piccoli */
    grid-template-columns: 1fr; /* Una colonna per schermi piccoli */
  }
}
