
.game{
  text-align: center;
  color:#555454;
}

input, button {
  font-size: 18px;
  margin: 10px;
  padding: 8px;
}

.logo-small {
  width: 250px;
  height: 250px;
}

/* canvas {
  pointer-events: none;
  z-index: 1000;
} */
